{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3 style="text-align:center;font-weight: 500;">Отдел цифровизации</h3>
<div class="all_user">
    {% for i in users %}
    <a href="{% url 'detail_user' i.pk %}" style="color:inherit;">
    <div class="card_user">
        <div class="delete_user" style="z-index:3;">
          <span class="top" style="width:30px;-webkit-transform: rotate(45deg);height:3px;
    background-color: #ffffff;
}"></span>
          <span class="bottom" style="width:30px;-webkit-transform: rotate(45deg);height:3px;
    background-color: #ffffff;
}"></span>
        </div>
        <img src="{% if i.profile.photo %}{{ i.profile.photo.url }}{% else %}{% static 'anonym.png' %}{% endif %}" width="80" height="80" alt="">
        <div class="info_user">
            <div class="username">

                    <span class="firstname_user">{{i.first_name}}</span>
                    <span class="lastname_user">{{i.last_name}}</span>
            </div>
            <p>Почта: {% if i.email %}{{ i.email }}{% else %}Не указано{% endif %}</p>
            <p>Номер: {% if i.profile.phone %}{{ i.profile.phone }}{% else %}Не указано{% endif %}</p>
            <p>Должность: {% if i.profile.phone %}{{ i.profile.work }}{% else %}Не указано{% endif %}</p>
        </div>
    </div>
    </a>
    {% endfor %}

</div>
<h3 style="text-align:center;font-weight: 500;margin-top:40px;">Новые пользователи за {{ today.day }}.{{ today.month }}.{{ today.year }}</h3>
<div class="new_user">
    <div class="tables">
{% if new_users %}
    <div style="overflow:auto;max-width:100vw;">
    <table>
        <thead>
        <tr>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Дата</td>
        </tr>
        </thead>
        <tbody>

    {% for i in new_users %}
    <tr>
            <td >{{ i.last_name }}</td>
            <td>{{ i.first_name }}</td>
            <td>{{ i.date_joined }}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    </div>
        {% endif %}
</div>
{% endblock %}